body {
  margin: 0;
  font-family: Verdana;
  font-size:14px !important;
}
#menu a {
  text-decoration: none;
  color: #23d4fe
}
#menu a:link {
  color: #23d4fe
}
#menu a:hover {
  color: #0ff
}
#menu a:visited {
  text-decoration: none;
  color: #23d4fe
}
#page {
  min-width: 1000px;
}
#menu {
  display:block;
  position: fixed;
  top:0px;
  border-bottom: 1px #ccc dashed;
  padding:5px;
  width: 100%;
  z-index: 99999;
  background-color: #fff;
}
#menu #userfield {
  display:block;
  position: fixed;
  top:5px;
  width: 200px;
  z-index: 99999;
  background-color: #fff;
  text-align:right;
  right:100px;
}
#menu #userfield ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline;
}
#menu #userfield ul li {
  display:inline;
  border-right:1px solid #ccf;
  padding: 2px 6px 1px 6px;
}
#menu #userfield ul li:last-child {
  border:none;
}
a.tab {

}
a:last-child.tab {
  border:none;
}
a:visited.tab {
}
.hiddenpage {
  display:none;
}
#container {
  margin:10px;
  font-family: Courier;
  margin-top: 40px
}
table.gridtable {
  font-size:14px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  font-family: Courier;
}
table.gridtable th {
  font-size:14px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
    font-family: Courier;
}
table.gridtable th.head {
  background-color: #ebebeb;
}
table.gridtable td {
  font-size:14px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
    font-family: Courier;
}
table.gridtable td img.removeuser, table.gridtable td img.edituser {
  width: 32px;
  height: 32px;
}
#time {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  font-family: Courier;
  color: black;
  font-weight: 900;
  letter-spacing:0px;
  opacity:0;
}
#timeplaceholder {
  display:block;
  height:18px;
  position: fixed;
  bottom: 10px;
  width: 100%
}


    #stupidtable th, #stupidtable td {
      padding: 5px 10px;
      border:none !important;
      font-size:14px;
    }
    #stupidtable th {
      min-width: 50px;
      border-bottom: 1px solid #bbb !important;
      font-size:14px;
    }
    #stupidtable th[data-sort]{
      cursor:pointer;
    }
    #stupidtable tr.awesome{
      color: red;
    }
    #stupidtable #msg {
      color: green;
    }

ul.tablist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:inline;
}
ul.tablist li {
  display:inline;
  border-right:1px solid #ccf;
  padding: 2px 10px 0 6px;
}
ul.tablist li:last-child {
  border:none;
}
#container {
  display: none;
}

#stupidtable .level0, #stupidtable .level1, #stupidtable .level2, #stupidtable .level3, #stupidtable .level4 {
  color: #fff;
  text-transform: uppercase;
  padding: 3px 5px;
  border: 1px solid #aaa;
-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
text-shadow: 1px 1px 2px #888;
font-weight: bold;
  border-radius: 3px;
  text-align: center;
}

#stupidtable .level0 {
  opacity: 0.8;
  color: #00529B;
  background-color: #BDE5F8;
}
#stupidtable .level1 {
  
  
  background-color:#0ee;
}
#stupidtable .level2 {
  color: #4F3F00;
  background-color:#fc0;
}
#stupidtable .level3 {
  color: #D8000C;
  background-color: #FFBABA;
}
#stupidtable .level4 {
  color: #000;
  background-color: #f00;
}

#stupidtable table td + td { border-left:1px solid #bbb !important; }
#stupidtable .activesort {
  background-color: #ccc;
}
#stupidtable .arrowl {
  display:block;
  float:left;
  width:0px;
  margin-left: -5px;
  margin-top: -2px;
}
#stupidtable .arrowr {
  display:block;
  float:right;
  width:0px;
  margin-right: 2px;
  margin-top: -2px;
}
#stupidtable .activesortspan {
  margin-left: 4px;
}
#stupidtable table {
  font-size: 14px;
  font-family: Verdana;
}
#phpinfocontent{
  position: absolute;
  top: 75px;
}
#timeinmenu {
display: block;
position: relative;
float:right;
margin-right: 15px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}